<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZ39JaT_h_q4flENkOwXUR5VWv5eMYrXw</string>
	<key>GCM_SENDER_ID</key>
	<string>740149629242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kfupm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kfupm-app-8d53e</string>
	<key>STORAGE_BUCKET</key>
	<string>kfupm-app-8d53e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740149629242:ios:1b158d14bda92b60530003</string>
</dict>
</plist>